releases/*
Unruggable.app.app
Unruggable_apk.apk
.DS_Store
Unruggable-app.app
selfsigned.crt
selfsigned.key
selfsigned.pfx
Unruggable.zip
wasm/*

release-key.jks
unruggable_go.aab
repo-structure.txt
pepk.jar
output.zip
encryption_public_key.pem
